<h1>Book List</h1>
<table border="1">
  <tr>
    <th colspan="6">Book List</th>
  </tr>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Date</th>
    <th>Image</th>
  </tr>
  {{#each books}}
    <tr>
      <th>{{title}}</th>
      <th>{{author}}</th>
      <th>{{price}}$</th>
      <th>{{quantity}}</th>
      <th>{{date}}</th>
      <th><img src="{{ image }}" width="100" height="100"></th>
    </tr>
  {{/each}}

</table>