<a href="/">Home</a>
<div class="container mt-3 mb-3">
    <h1>Mobile List</h1>
<table border="1">
  <tr>
    <th colspan="7">Mobile List</th>
  </tr>
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Price</th>
    <th>Date</th>
    <th>Image</th>
    <th>Best Seller</th>
    <th>Quantity</th>
  </tr>
  {{#each mobiles}}
    <tr>
      <th>{{brandName}}</th>
      <th>{{phoneModel}}</th>
      <th>{{price}}$</th>
      <th>{{date}}</th>
      <th><img src="{{ image }}" width="100" height="100"></th>
      <th>{{bestSeller}}</th>
      <th>{{quantity}}</th>
    </tr>
  {{/each}}

</table>
</div>