<div class="container mt-3 mb-3">
  <h1>Mobile List</h1>
  <a href="" class="btn btn-success">Add</a>
  <a
    onclick="return confirm('Are you sure you want to delete all')"
    href="/mobile/deleteall"
    class="btn btn-danger"
  >Delete all</a>
  <table border="1">
    <tr>
      <th colspan="5">Laptop List</th>
    </tr>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Image</th>
      <th>Menu</th>
    </tr>
    {{#each laptop}}
      <tr>
        <th>{{brandName}}</th>
        <th>{{laptopModel}}</th>
        <th>{{price}}$</th>
        <th><a href="/mobile/detail/{{_id}}"><img src="{{image}}" width="100" height="100" /></a></th>
        <th>
          <a href="" class="btn btn-warning">Edit</a>
          <a
            href="/mobile/delete/{{_id}}"
            onclick="return confirm('Are you sure you want to delete this product?')"
            class="btn btn-danger"
          >Delete</a>
        </th>
      </tr>
    {{/each}}

  </table>
</div>